<div class="col">

  <h2 id="searchHeader">Search</h2>

  <div class="input-group my-3">
    <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="search()" class="form-control" [placeholder]="searchOption === 'catalog' ? 'Apple Music' : 'Your library'" aria-labelledby="searchHeader">
    <div class="input-group-append">
        <button (click)="search()" class="btn btn-outline-info" type="button">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <i-feather *ngIf="!isLoading" name="search" class="feather"></i-feather>
        </button>
      </div>
  </div>

  <div class="btn-group btn-group-toggle" ngbRadioGroup name="searchOption" [(ngModel)]="searchOption">
    <label ngbButtonLabel class="btn btn-outline-info">
      <input ngbButton type="radio" [value]="'catalog'"> Apple Music
    </label>
    <label ngbButtonLabel class="btn btn-outline-info">
      <input ngbButton type="radio" [value]="'library'"> Library
    </label>
  </div>

  <h2 *ngIf="!isLoading && artists.length" class="my-3">Artists</h2>
  <div class="artist-scroller my-3 py-2">
        <app-artist *ngFor="let artist of artists"
        [artist]="artist"
        (onSelectArtist)="onArtistSelected(artist)">
        </app-artist>
  </div>

  <h2 *ngIf="!isLoading && albums.length" class="my-3">Albums</h2>
  <div class="scroller my-3 py-2">
      <app-album *ngFor="let album of albums" 
      [album]="album" 
      [imgSrc]="album.attributes.artwork.url | albumArt : 400"
      (onSelectAlbum)="onAlbumSelected($event)">
      </app-album>
  </div>

</div>