<div class="col">

  <h2 id="searchHeader">Search</h2>

  <div class="input-group my-3">
    <input type="text" class="form-control" [placeholder]="searchOption === 'catalog' ? 'Apple Music' : 'Your library'" aria-labelledby="searchHeader">
  </div>

  <div class="btn-group btn-group-toggle" ngbRadioGroup name="searchOption" [(ngModel)]="searchOption">
    <label ngbButtonLabel class="btn btn-outline-info">
      <input ngbButton type="radio" [value]="'catalog'"> Apple Music
    </label>
    <label ngbButtonLabel class="btn btn-outline-info">
      <input ngbButton type="radio" [value]="'library'"> Library
    </label>
  </div>

</div>