<app-spinner [isLoading]="isLoading || isLibraryLoading"></app-spinner>

<div class="col pb-3">

  <h2 id="searchHeader">Search</h2>

  <div class="input-group my-3">
    <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="search()" class="form-control" [placeholder]="searchCatalog ? 'Apple Music' : 'Your library'" aria-labelledby="searchHeader">
    <div class="input-group-append">
        <button (click)="search()" class="btn btn-outline-info" type="button">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <i-feather *ngIf="!isLoading" name="search" class="feather"></i-feather>
        </button>
      </div>
  </div>

  <ngb-tabset type="pills">

    <!-- Apple music results -->
      <ngb-tab>
        <ng-template ngbTabTitle><button class="btn btn-browse btn-lg mr-2 mb-2 btn-outline-light shadow-sm">Apple Music catalog</button></ng-template>
        <ng-template ngbTabContent>
  
            <h2 *ngIf="!isLoading && artists.length" class="my-3">Artists</h2>
            <div class="artist-track-scroller my-3 py-2">
                  <app-artist *ngFor="let artist of artists"
                  [artist]="artist"
                  (onSelectArtist)="onArtistSelected(artist)">
                  </app-artist>
            </div>

            <h2 *ngIf="!isLoading && albums.length" class="my-3">Albums</h2>
            <div class="single-scroller my-3 py-2">
                <app-album *ngFor="let album of albums" 
                [album]="album" 
                [imgSrc]="album.attributes.artwork.url | albumArt : 400"
                (onSelectAlbum)="onAlbumSelected(album)">
                </app-album>
            </div>

            <h2 *ngIf="!isLoading && playlists.length" class="my-3">Playlists</h2>
            <div class="single-scroller my-3 py-2">
                <app-playlist *ngFor="let playlist of playlists"
                [playlist]="playlist"
                [imgSrc]="playlist.attributes.artwork.url | albumArt : 400 "
                (onSelectPlaylist)="onPlaylistSelected(playlist)">
                </app-playlist>
            </div>

            <h2 *ngIf="!isLoading && tracks.length" class="my-3">Tracks</h2>
            <div class="artist-track-scroller my-3 py-2">
              <div *ngFor="let track of tracks" class="search-track mr-2">
                  <app-track
                  [searchResult]="true"
                  [track]="track" 
                  [isNowPlaying]="nowPlayingTrackId === track.id"
                  [isLoggedIn]="isLoggedIn"
                  (onAddToLibrary)="onAddToLibrary($event)"
                  (onAddToPlaylist)="onAddToPlaylist($event)"
                  (onSelectTrack)="onPlayTrack(track)"
                  (onPlayLater)="onPlayLater(track)"
                  (onPlayNext)="onPlayNext(track)">
                  </app-track>
              </div>
            </div>

        </ng-template>
      </ngb-tab>



    <!-- Library results -->
      <ngb-tab>
        <ng-template ngbTabTitle><button class="btn btn-browse btn-lg mr-2 mb-2 btn-outline-light shadow-sm">Library</button></ng-template>
        <ng-template ngbTabContent>

            <h2 *ngIf="!isLoading && libraryAlbums.length" class="my-3">Albums</h2>
            <div *ngIf="!isLoading && libraryAlbums.length" class="single-scroller my-3 py-2">
                <app-album *ngFor="let album of libraryAlbums" 
                [album]="album" 
                [imgSrc]="album.attributes.artwork.url | albumArt : 400"
                (onSelectAlbum)="onAlbumSelected(album)">
                </app-album>
            </div>

            <h2 *ngIf="!isLoading && libraryPlaylists.length" class="my-3">Playlists</h2>
            <div *ngIf="!isLoading && libraryPlaylists.length" class="single-scroller my-3 py-2">
                <app-playlist *ngFor="let playlist of libraryPlaylists"
                [playlist]="playlist"
                [imgSrc]="playlist.attributes.artwork.url | albumArt : 400"
                (onSelectPlaylist)="onPlaylistSelected(playlist)">
                </app-playlist>
            </div>

            <h2 *ngIf="!isLoading && libraryTracks.length" class="my-3">Tracks</h2>
            <div *ngIf="!isLoading && libraryTracks.length" class="artist-track-scroller my-3 py-2">
              <div *ngFor="let track of libraryTracks" class="search-track mr-2">
                  <app-track
                  [searchResult]="true"
                  [track]="track" 
                  [isNowPlaying]="nowPlayingTrackId === track.id"
                  [isLoggedIn]="isLoggedIn"
                  (onAddToPlaylist)="onAddToPlaylist($event)"
                  (onSelectTrack)="onPlayTrack(track)"
                  (onPlayLater)="onPlayLater(track)"
                  (onPlayNext)="onPlayNext(track)">
                  </app-track>
              </div>
            </div>

            <h2 *ngIf="!isLoading && libraryArtists.length" class="my-3">Artists</h2>
            <div *ngIf="!isLoading && libraryArtists.length">
                <app-artist *ngFor="let artist of libraryArtists"
                [artist]="artist"
                [selectedArtist]="selectedLibraryArtist"
                (onSelectArtist)="onArtistSelected(artist)"
                (onSelectAlbum)="onAlbumSelected($event)">
                </app-artist>
            </div>

  
        </ng-template>
      </ngb-tab>
  
  
    </ngb-tabset>










</div>