<footer class="footer mt-auto py-3 w-100 fixed-bottom shadow-sm">
  <div class="d-flex flex-row">

      <img *ngIf="nowPlayingItem && nowPlayingItem.attributes.artwork" class="player-artwork rounded shadow-sm ml-3" [src]="nowPlayingItem.attributes.artwork.url | albumArt : 50" alt="">
      <img *ngIf="!nowPlayingItem || !nowPlayingItem.attributes.artwork" class="player-artwork rounded shadow-sm ml-3" src="../assets/img/no-art.svg" alt="">
  

      <div class="track-id mx-3 align-self-center" *ngIf="nowPlayingItem">
        <div class="track-title">{{nowPlayingItem.attributes.name}}</div>
        <div class="track-artist">{{nowPlayingItem.attributes.artistName}}</div>
      </div>


      <div *ngIf="nowPlayingItem" class="slider ml-auto mx-3 pt-3 align-self-center flex-fill flex-grow-1 d-none d-sm-block">
            <ng5-slider (userChangeEnd)="onPositionAdjust($event.value)" [value]="currentPlaybackTime" [options]="options" class="mx-3"></ng5-slider>
      </div>

      <div *ngIf="nowPlayingItem" class="mx-3 align-self-center d-none d-sm-block">
        <span *ngIf="currentPlaybackTimeRemaining" class="small">{{currentPlaybackTimeRemaining | formattedTime}}</span>
        <span *ngIf="!currentPlaybackTimeRemaining" class="small">0:00</span>
      </div>

      <div class="controls align-self-center ml-auto">
          <button (click)="skipToPrevious()" class="btn btn-outline-light mx-1"><img src="../assets/img/skip-back.svg" alt="skip back" class="player-button"></button>
          <button *ngIf="isLoading()" disabled class="btn btn-outline-light mx-1"><img src="../assets/img/loader.svg" alt="loading" class="player-button"></button>
          <button *ngIf="!isLoading()" (click)="togglePlayPause()"  class="btn btn-outline-light mx-1">
            <img *ngIf="isPlaying()" src="../../../assets/img/pause.svg" alt="pause" class="player-button">
            <img *ngIf="!isPlaying()" src="../../../assets/img/play.svg" alt="play" class="player-button">
          </button>
          <button (click)="skipToNext()"  class="btn btn-outline-light mx-1"><img src="../assets/img/skip-forward.svg" alt="skip forward" class="player-button"></button>
      </div>
 
    </div>
</footer>