@import "../../styles.scss";

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: -3rem;
  left: 0;
  z-index: 1030;
  padding-top: 1rem;
  padding-right: env(safe-area-inset-right, 50px);
  padding-bottom: env(safe-area-inset-bottom, 50px) ;
  padding-left: env(safe-area-inset-left, 50px); 
}

footer {
  min-height: 8rem;
  background-color: rgba(250, 250, 250, 0.98);


  .track-info {
    min-width: 16rem;
  }

  .player-artwork {
    cursor: pointer;
    width: 50px !important;
    height: 50px !important;
    border: none;
  }

  .track-id {
    width: 16rem;
    min-width: 6rem;
    max-width: 20rem;
      
    .track-artist, .track-title {
        white-space: nowrap;
        word-wrap: none;
        overflow: hidden;
        text-overflow: ellipsis;       
    }

  }

  .track-artist {
    @include font-small;
  }

  .btn {
      border: none;
  }

  .player-button {
    background-color: $nav-color;
    outline: none;
  }

  .player-button:active {
    transform: scale(0.9);
    outline: none;
  }

  .player-spinner {
      width: 100%;
      height: 100%;
  }

  .slider {
      width: 100%;
  }

}

@media (prefers-color-scheme: dark) {
  .player-button {
    background-color: $body-color !important;
    color: $light !important;
  }
  .no-art {
    filter: brightness(50%);
  }
}