@import '../../../styles.scss';

.btn-light {
  box-shadow: none;
  border: 0;
}

.btn-light:hover, .btn-light:active {
  background-color: $gray-100;
  color: $cyan;
  border: 0;
  box-shadow: none !important;
}

.btn-light.active, .btn-light.active:focus, .btn-light.active:active {
  background-color: $gray-100 !important;
  color: $cyan  !important;
  border: none !important;
  box-shadow: none !important;
}

