
  
  <div class="d-flex align-items-start flex-column h-100">

    <div class="w-100 mb-auto">
        <button (click)="onClick()" class="btn btn-light w-100 text-left mb-2 bg-white" routerLink="/browse" routerLinkActive="active"><i-feather name="globe"></i-feather>browse</button>
        <button (click)="onClick()" class="btn btn-light w-100 text-left mb-2 bg-white" [disabled]="!isLoggedIn"  routerLink="/for-you" routerLinkActive="active"><i-feather name="heart"></i-feather>for you</button>
        <button (click)="onClick()" class="btn btn-light w-100 text-left mb-2 bg-white" [disabled]="!isLoggedIn"  routerLink="/library" routerLinkActive="active"><i-feather name="headphones"></i-feather>library</button>
        <button (click)="onClick()" class="btn btn-light w-100 text-left mb-2 bg-white" routerLink="/search" routerLinkActive="active"><i-feather name="search"></i-feather>search</button>
    </div>


    <div class="w-100">
      <button class="btn  btn-sm btn-outline-success mb-2" id="apple-music-authorize"></button>
      <button class="btn btn-sm btn-outline-danger mb-2" id="apple-music-unauthorize"></button>
    </div>
    <button class="btn btn-sm btn-link p-0 about" (click)="onClick()" routerLink="/about">About the app</button>

  </div>


  

  <!-- <button *ngIf="!isLoggedIn" class="btn btn-sm btn-outline-secondary" (click)="onClickLogin()"><i-feather name="log-in"></i-feather></button>
  <button *ngIf="isLoggedIn" class="btn btn-sm btn-outline-secondary" (click)="onClickLogOut()"><i-feather name="log-out"></i-feather></button> -->

  



