
<div class="side-menu px-2 pt-4 mr-3 mt-5">
  
  <div class="d-flex flex-column">
      <a class="nav-link w-100" routerLink="/browse" routerLinkActive="active">browse<span class="sr-only">(current)</span></a>
      <a class="nav-link w-100" routerLink="/for-you" routerLinkActive="active">for you</a>
      <a class="nav-link w-100" routerLink="/library" routerLinkActive="active">library</a>
      <a class="nav-link w-100" routerLink="/search" routerLinkActive="active">search</a>

      <button class="btn btn-sm btn-outline-info m-2" id="apple-music-authorize">Sign In</button>
      <button class="btn btn-sm btn-outline-info m-2" id="apple-music-unauthorize">Sign Out</button>

  </div>


  

  <!-- <button *ngIf="!isLoggedIn" class="btn btn-sm btn-outline-secondary" (click)="onClickLogin()"><i-feather name="log-in"></i-feather></button>
  <button *ngIf="isLoggedIn" class="btn btn-sm btn-outline-secondary" (click)="onClickLogOut()"><i-feather name="log-out"></i-feather></button> -->

  
</div>



