
  
  <div class="side d-flex align-items-start flex-column h-100">

    <div class="w-100 mb-auto">
        <button *ngIf="isLoggedIn" (click)="onClick()" class="btn btn-light w-100 text-left mb-2" [disabled]="!isLoggedIn"  routerLink="/for-you" routerLinkActive="active"><i-feather name="heart"></i-feather>for you</button>
        <button *ngIf="isLoggedIn" (click)="onClick()" class="btn btn-light w-100 text-left mb-2" [disabled]="!isLoggedIn"  routerLink="/library" routerLinkActive="active"><i-feather name="headphones"></i-feather>library</button>
        <button (click)="onClick()" class="btn btn-light w-100 text-left mb-2" routerLink="/browse" routerLinkActive="active"><i-feather name="globe"></i-feather>browse</button>
        <button (click)="onClick()" class="btn btn-light w-100 text-left mb-2" routerLink="/search" routerLinkActive="active"><i-feather name="search"></i-feather>search</button>
    </div>

    <div *ngIf="!isLoggedIn" class="small my-2">Sign in to Apple Music to see your library and personal recommendations.</div>

    <div class="w-100">
      <button *ngIf="!isLoggedIn" (click)="signIn.emit()" class="btn btn-sm btn-outline-success mb-2">Sign in to Apple Music</button>
      <button *ngIf="isLoggedIn" (click)="signOut.emit()" class="btn btn-sm btn-outline-danger mb-2" >Sign out</button>
    </div>
    <!-- <button class="btn btn-sm btn-link p-0 about" (click)="onClick()" routerLink="/about">About the app</button> -->
    <button class="btn btn-sm btn-outline-secondary about" (click)="onClick()" routerLink="/about">About the app</button>

  </div>

  



