<div class="col">
  
    <div class="row">

      <div class="col-12 col-sm-4 albumArt mb-3">

      <app-artwork *ngIf="!isLoading && selectedPlaylist"
      [selectedPlaylist]="selectedPlaylist"
      [isLoading]="isLoading"
      (onPlayAll)="onPlayPlaylist($event)"
      (onStop)="onStop()">
      </app-artwork>

      </div>
  
        <div class="col-12 col-sm-8">
          <app-spinner *ngIf="isLoading"></app-spinner>
          <img class="spinner" *ngIf="isLoading" src="../../../assets/img/spinner.svg" alt="">
            <div *ngIf="selectedPlaylist.attributes && selectedPlaylist.relationships">
              <h3>{{selectedPlaylist.attributes.name}}</h3>
              <p class="playlist-description my-1">{{selectedPlaylist.attributes.description.standard}}</p>
  
              <div *ngIf="selectedPlaylist.relationships.tracks.data as tracks">
                <app-track *ngFor="let track of tracks"
                [selectedPlaylist]="selectedPlaylist"
                [track]="track" 
                [isNowPlaying]="nowPlayingTrackId === track.id" 
                [timeRemaining]="currentPlaybackTimeRemaining" 
                (onSelectTrack)="onPlayTrack(track)">
                </app-track>
              </div>
          </div>
        </div>
    </div>
  
  </div>