<app-spinner [isLoading]="isLoading || isLibraryLoading"></app-spinner>

<div class="col">
  
    <div class="row">

      <div class="col-12 col-sm-4 albumArt mb-3">

      <app-artwork *ngIf="!isLoading && selectedPlaylist"
      [selectedPlaylist]="selectedPlaylist"
      [isLoading]="isLoading"
      (onAddToLibrary)="onAddToLibrary($event)"
      (onPlayAll)="onPlayPlaylist($event)"
      (onStop)="onStop()">
      </app-artwork>

      </div>
  
        <div class="col-12 col-sm-8">
            <div *ngIf="selectedPlaylist.attributes && selectedPlaylist.relationships">
              <h3>{{selectedPlaylist.attributes.name}}</h3>
              <h5>{{selectedPlaylist.attributes.curatorName}}</h5>
              <p *ngIf="selectedPlaylist.attributes.description" class="playlist-description my-1">
                {{selectedPlaylist.attributes.description.standard}}
              </p>
  
              <div *ngIf="selectedPlaylist.relationships.tracks.data as tracks">
                <app-track *ngFor="let track of tracks"
                [selectedPlaylist]="selectedPlaylist"
                [track]="track" 
                [isNowPlaying]="nowPlayingTrackId === track.id" 
                [timeRemaining]="currentPlaybackTimeRemaining" 
                (onAddToLibrary)="onAddToLibrary($event)"
                (onAddToPlaylist)="onAddToPlaylist($event)"
                (onSelectTrack)="onPlayTrack(track)">
                </app-track>
              </div>
          </div>
        </div>
    </div>
  
  </div>