@import "../../../styles.scss";

.card {
  width: 14rem;
  border: none;
  cursor: pointer;
}

.card-img-top {
  min-height: 14rem;
  background: url(../../../assets/img/loader.svg) center no-repeat;
}

.card.compact {
  min-width: 20rem !important;
  max-width: 28rem !important;
  max-height: 6rem !important;
}

.compact-card-img-top {
  max-width: 4rem !important;
  max-height: 4rem !important;
}

.card-title, .card-title:hover {
  color: $body-color;
  font-weight: $font-weight-bold;
}

.card-body {
  min-height: 4rem;
}

.card-body.compact {
  height: 4rem !important;
}

.card-body, .card-text {
  white-space: nowrap;
  overflow: hidden;
  word-wrap: none;
  text-overflow: ellipsis;
}

@media (prefers-color-scheme: dark) {
  .card-img-top, .compact-card-img-top {
    background-color: $lead !important;
  }
  .row {
    background-color: $lead !important;
  }
  
}
