<div class="col-12 col-md-8 px-3 h-100">
        
    <h2 class="mt-2 mb-4">About the app</h2>
        
    <div class="my-3 py-2">
      <p>
        Iamplayer (beta) is a web player that uses the official <a href="https://developer.apple.com/documentation/applemusicapi">Apple Music API</a> and MusicKit JS to connect to Apple Music catalog and your iCloud Music Library.
      </p>
      <p>
        When you press 'Sign in to Apple Music' you are redirected to Apple's website to sign in using your Apple ID. This app then receives a secure token from Apple and uses it to connect to your library without knowing your Apple ID or password.
      </p>
      <p>
        The app does not collect or store any personal information.
      </p>
    
    <h2 class="mt-2 mb-4">Additional features and updates</h2>
      <p>
        I started building this app as an educational/hobby project. Since Apple have released their own web player this app is no longer maintained and will be available for some time for demo purposes. 
      </p>
    
    <h2 class="mt-2 mb-4">More info</h2>
      <p>
        You can grab the code from my <a href="https://github.com/svkozak/music-player"><i-feather name="github"></i-feather>GitHub repository</a> or message me on Twitter <a href="https://twitter.com/deepstereo_">@deepstereo_</a>
      </p>
    
    </div>

    
    


</div>
