<div class="col-12 col-md-8 px-3 h-100">
        
    <h2 class="mt-2 mb-4">About the app</h2>
        
    <div class="my-3 py-2">
      <p>
        Iamplayer (beta) uses the official <a href="https://developer.apple.com/documentation/applemusicapi">Apple Music API</a> to connect to Apple Music catalog and your iCloud Music Library. The app is not affiliated with Apple, Inc.
      </p>
      <p>
        Authentication happens directly through Apple. When you press 'Sign in to Apple Music' you are redirected to Apple's sign in page where you log in using your Apple ID. This app receives a secure token from Apple and uses it to connect to your library without knowing your Apple ID or password.
      </p>
      <p>
        The app does not collect or store any personal information.
      </p>
    
    <h2 class="mt-2 mb-4">Additional features and updates</h2>
      <p>
        I started building this app before Apple released their own web player at <a href="https://beta.music.apple.com/us/browse">beta.music.apple.com</a> and I still plan to add some more features, including radio stations and some others, that are permitted by Apple Music API, so stay tuned. 
      </p>
    
    <h2 class="mt-2 mb-4">More info</h2>
      <p>
        For some technical details or to get in touch please check out the <a href="https://github.com/svkozak/music-player"><i-feather name="github"></i-feather>GitHub repository</a> or visit my <a href="https://www.linkedin.com/in/svkozak/">LinkedIn</a> page.
      </p>
      <!-- <img src="../../assets/img/iamplayer-beta.svg" alt=""> -->
      
      <div class="my-3">
          <p class="small">
              Made in Toronto in 2019.
          </p>
      </div>

    
    </div>

    
    


</div>
