<div class="d-flex flex-wrap">
  <a routerLink="/library/recently-added" routerLinkActive="active"><button class="btn btn-browse btn-lg mr-2 mb-2 btn-outline-light shadow-sm">Recently added</button></a>
  <a routerLink="/library/albums" routerLinkActive="active"><button class="btn btn-browse btn-lg mr-2 mb-2 btn-outline-light shadow-sm">Albums</button></a>
  <a routerLink="/library/playlists" routerLinkActive="active"><button class="btn btn-browse btn-lg mr-2 mb-2 btn-outline-light shadow-sm">Playlists</button></a>
  <a routerLink="/library/artists" routerLinkActive="active"><button class="btn btn-browse btn-lg mr-2 mb-2 btn-outline-light shadow-sm">Artists</button></a>
</div>

