

<div *ngIf="isLoading"><img class="p-5 m-5" src="../../../assets/img/loader.svg" alt=""></div>
    
<div *ngIf="!isLoading">

    <div class="artwork-container shadow mb-3">
        <img *ngIf="selectedPlaylist && selectedPlaylist.attributes" [src]="selectedPlaylist.attributes.artwork ? (selectedPlaylist.attributes.artwork.url | albumArt : 600) : './assets/img/no-art.svg'" class="artwork img-fluid rounded" alt="">
        <img *ngIf="selectedAlbum && selectedAlbum.attributes" [src]="selectedAlbum.attributes.artwork ? (selectedAlbum.attributes.artwork.url | albumArt : 600) : './assets/img/no-art.svg'" class="artwork img-fluid rounded" alt="">
    </div>


    <div *ngIf="selectedAlbum && selectedAlbum.attributes" class="mb-2">
        <span *ngIf="selectedAlbum.type === 'albums'" class="small">{{selectedAlbum.attributes.genreNames[0]}}  &#183;  {{parseDate(selectedAlbum.attributes.releaseDate)}}</span>
    </div>
    <div *ngIf="selectedPlaylist && selectedPlaylist.attributes" class="mb-2">
        <span class="small"><span *ngIf="selectedPlaylist.type === 'playlists'">Last modified: {{parseDate(selectedPlaylist.attributes.lastModifiedDate, true)}} &#183; </span>{{selectedPlaylist.relationships.tracks.data.length}} tracks</span>
    </div>

    <div class="d-flex flex-row">
        
        <button class="play-all btn btn-outline-light flex-grow-1 shadow-sm text-secondary" (click)="selectedAlbum ? onPlayAlbum(selectedAlbum) : onPlayPlaylist(selectedPlaylist)">
          <i-feather name="play"></i-feather>
        </button>


        <div *ngIf="(selectedAlbum && selectedAlbum.type === 'albums') || (selectedPlaylist && selectedPlaylist.type === 'playlists')" class="btn-group" dropdown placement="bottom right">
            <button id="button-alignment" dropdownToggle type="button" class="drop btn btn-outline-light shadow-sm text-secondary ml-2" aria-controls="dropdown-alignment">
                <i-feather name="more-horizontal"></i-feather>
            </button>
            <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right shadow-sm" role="menu" aria-labelledby="button-alignment">
                <li role="menuitem">
                    <button *ngIf="(selectedAlbum && selectedAlbum.type === 'albums') || (selectedPlaylist && selectedPlaylist.type === 'playlists')" 
                    [disabled]="!isLoggedIn"  
                    (click)="selectedAlbum ? addToLibrary(selectedAlbum) : addToLibrary(selectedPlaylist)" 
                      class="add-button btn btn-sm mx-1 mt-1">
                      <i-feather name="plus"></i-feather>add to library</button>
                  </li>
            </ul>
        </div>
            
    </div>
</div>