@import '../../../styles.scss';

.artist {
  cursor: pointer;
  min-width: 15rem;
  max-width: 25rem;
}

.artist:active {
  transform: scale(0.99);
}

.artist-image {
  width: 40px;
}

.artist-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (prefers-color-scheme: dark) {
  .artist {
    background-color: $lead !important;
  }
  .artist-image {
    filter: invert(10%);
  }
}

