<div (click)="onClick(artist)" class="artist d-flex flex-row align-items-start p-2 my-2 mr-2 shadow-sm bg-white border-0">
    <div class="">
      <img class="artist-image mr-2 rounded shadow-sm" src="../../../assets/img/no-art.svg" alt="">
    </div>
    <div class="artist-name mr-2 flex-grow-0">
        <span class="mr-2">{{artist.attributes.name}}</span>
    </div>
</div>

<div *ngIf="selectedArtist && selectedArtist.id === artist.id">
      <div *ngIf="selectedArtist.relationships" class="d-flex overflow-auto my-2 py-3">
          <app-album *ngFor="let album of selectedArtist.relationships.albums.data"
          [imgSrc]="album.attributes.artwork.url | albumArt : 1000"
          [album]="album"
          (onSelectAlbum)="onSelectAlbum.emit(album)">
          </app-album>
      </div>
</div>