<div class="col">

  <div *ngIf="selectedArtist.attributes && selectedArtist.relationships">
              <h1>{{selectedArtist.attributes.name}}</h1>
              <p *ngIf="selectedArtist.attributes.editorialNotes">{{selectedArtist.attributes.editorialNotes}}</p>
  
              <div *ngIf="selectedArtist.relationships.albums.data">
                <h2>Albums</h2>
                <div class="scroller my-3 py-2">
                  <app-album *ngFor="let album of selectedArtist.relationships.albums.data as albums"
                  [album]="album"
                  [imgSrc]="album.attributes.artwork.url | albumArt : 600"
                  (onSelectAlbum)="onAlbumSelected(album)">
                  </app-album>
                </div>
              </div>

              <div *ngIf="selectedArtist.relationships.playlists.data.length > 0">
                <h2>Playlists</h2>
                <div class="scroller my-3 py-2">
                    <app-playlist *ngFor="let playlist of selectedArtist.relationships.playlists.data as playlists"
                    [playlist]="playlist"
                    [imgSrc]="playlist.attributes.artwork.url | albumArt : 600"
                    (onSelectPlaylist)="onPlaylistSelected(playlist)">
                    </app-playlist>
                </div>
              </div>
    </div>

</div>