<nav class="navbar navbar-expand-md navbar-light fixed-top shadow-sm">
    <a class="navbar-brand" href="#">music</a>
    <button class="btn btn-outline menu-toggle p-0" type="button" (click)="isNavCollapsed = !isNavCollapsed" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <img src="../assets/img/menu.svg" class="menu-icon d-md-none" alt="">
    </button>
  
    <!-- [ngbCollapse]="isNavCollapsed" -->
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="isNavCollapsed = !isNavCollapsed" routerLink="/browse" routerLinkActive="active">browse<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isNavCollapsed = !isNavCollapsed" routerLink="/for-you" routerLinkActive="active">for you</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isNavCollapsed = !isNavCollapsed" routerLink="/library" routerLinkActive="active">library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isNavCollapsed = !isNavCollapsed" routerLink="/search" routerLinkActive="active">search</a>
        </li>
      </ul>
      <!-- <button class="btn btn-sm btn-outline-info" id="apple-music-authorize">Sign In</button>
      <button class="btn btn-sm btn-outline-info" id="apple-music-unauthorize">Sign Out</button> -->
      <button *ngIf="!isLoggedIn" class="btn btn-sm btn-outline-secondary" (click)="onClickLogin()"><i-feather name="log-in"></i-feather></button>
      <button *ngIf="isLoggedIn" class="btn btn-sm btn-outline-secondary" (click)="onClickLogOut()"><i-feather name="log-out"></i-feather></button>
   
    </div>
  </nav>

  <main role="main">
    <div class="content">
        <router-outlet></router-outlet>  
    </div>    
  </main>

<!-- <app-player></app-player> -->


