@import "../styles.scss";

ng-sidebar-container {
    height: 100vh;
}

mat-sidenav {
    opacity: 0.98;
    width: 260px;
    max-height: 340px;
}

.logo {
    width: 8rem;
}

.compensate {
    padding-right: 220px !important;
}

.navbar {
    background-color: rgba($color: white, $alpha: 0.95)
    // background: transparent;
}

.nav-link.active {
    color: $cyan;
}

.btn-light:active, .btn-light:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-brand {
    font-weight: 700;
    color: $link-color !important;

    .feather {
        stroke-width: 3 !important;
    }
}

.menu-icon {
    width: 100%;
    height: 100%;
}

a.disabled, a.disabled:hover, a.disabled:active {
    color: lightgray;
}

