@import "../styles.scss";

.navbar {
    background-color: #EFF0F5;
}

nav {
    margin-bottom: 40px;
}

.content {
    margin-top: 80px;
}



footer {
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.95);

    .btn {
        border: none;
    }

    .controls {
        min-width: 10rem;
    }

    .player-button {
        width: 1rem;
        height: 1rem;
    }

    .slider {
        margin-right: 6rem;
    }

    /deep/ .ng5-slider {
        min-width: 2rem;

        .ng5-slider-bar-wrapper {
            top: -0.4rem;
        }

        .ng5-slider-pointer {
            width: 0.8rem;
            height: 0.8rem;
            background: $body-color;
            border-radius: 8;
            top: -0.8rem;
        }

        .ng5-slider-pointer:after {
            display: none;
          }

        .ng5-slider-bubble {
            font-size: 0.6rem;
        }

        .ng5-slider-floor {
            display: none;
        }

        .ng5-slider-model-value {
            display: none;
        }

        .ng5-slider-ceil {
            bottom: 0.1rem;
            margin-left: 3rem;
        }

        .ng5-slider-bar {
            height: 1px;
            background: $body-color;
        }

    }

    


}
