<app-toast [options]="toastOptions" (alertClosed)="dismissAlert()"></app-toast>

  <nav [class.shadow-sm]="navbarShadow" class="navbar navbar-expand-md navbar-light fixed-top mb-1">
    
    <button class="btn btn-light bg-white border-0 bg-transparent" type="button" (click)="sidenav.toggle()"  aria-expanded="false" aria-label="Toggle navigation">
      <i-feather *ngIf="sidebarOpened" name="x"></i-feather>
      <i-feather *ngIf="!sidebarOpened" name="menu"></i-feather>
    </button>
    <a class="navbar-brand ml-auto mr-0"><img src="../assets/img/iamplayer.svg" class="logo"></a>
 
  </nav>


<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav 
    class="rounded shadow ml-4 bg-white p-3" 
    mode="over" 
    [(opened)]="sidebarOpened"
    [autoFocus]="false"
    [fixedInViewport]="true"
    [fixedTopGap]="80">
      <app-sidebar (toggle)="sidenav.toggle()" [closeOnClick]="true" [isLoggedIn]="isLoggedIn"></app-sidebar>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <main role="main" ng-sidebar-content>
          <div class="content my-5 pt-4 pb-5">
              <router-outlet></router-outlet>  
          </div>    
      </main>
    </mat-sidenav-content>


  </mat-sidenav-container>





<app-player></app-player>


