@import "../../../styles.scss";

.albumArt {
  max-width: 40rem;
}

.artwork {
  width: 100%;
  max-width: 40rem;
  background: url(../../../assets/img/spinner.svg) center no-repeat;
}

.icon {
  height: 1rem;
  width: 1rem;
}



