<app-spinner [isLoading]="isLoading || isLibraryLoading"></app-spinner>

<div class="col">

  <div class="row">

      <div class="col-12 col-sm-4 albumArt mb-3">
        <app-artwork *ngIf="selectedAlbum"
        [selectedAlbum]="selectedAlbum"
        [isLoading]="isLoading"
        (onAddToLibrary)="onAddToLibrary($event)"
        (onPlayAll)="onPlayAlbum($event)"
        (onStop)="onStop()">
        </app-artwork>
      </div>
  
      
      <div class="col-12 col-sm-8">
          <div *ngIf="selectedAlbum.attributes && selectedAlbum.relationships">
            <h3>{{selectedAlbum.attributes.name}}</h3>
            <button (click)="onSelectArtist(selectedAlbum.relationships.artists.data[0].id)" class="btn btn-link text-info p-0">{{selectedAlbum.attributes.artistName}}</button>

            <div *ngIf="selectedAlbum.relationships.tracks.data as tracks">
              <app-track *ngFor="let track of tracks"
              [selectedAlbum]="selectedAlbum"
              [track]="track" 
              [isNowPlaying]="nowPlayingTrackId === track.id" 
              [timeRemaining]="currentPlaybackTimeRemaining"
              [isLibraryLoading]="isLibraryLoading"
              (onAddToLibrary)="onAddToLibrary($event)"
              (onAddToPlaylist)="onAddToPlaylist($event)"
              (onSelectTrack)="onPlayTrack(track)">
              </app-track>
            </div>
        </div>
      </div>
  </div>

</div>