<div class="col">
  
  <div class="row">
      <div class="col-12 col-sm-4 albumArt">
          <app-spinner *ngIf="isLoading"></app-spinner>
          <img *ngIf="!isLoading && selectedAlbum.attributes" [src]="selectedAlbum.attributes.artwork.url | albumArt : 400" class="artwork" alt="">
      </div>
      
      <div class="col-12 col-sm-8">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <img class="spinner" *ngIf="isLoading" src="../../../assets/img/spinner.svg" alt="">
          <div *ngIf="selectedAlbum.attributes && selectedAlbum.relationships">
            <h3>{{selectedAlbum.attributes.name}}</h3>
            <p>{{selectedAlbum.attributes.artistName}}</p>
            
            <ol *ngIf="selectedAlbum.relationships.tracks.data as tracks">
              <li *ngFor="let track of tracks">{{track.attributes.name}}</li>
            </ol>
        </div>
      </div>
  </div>

</div>