<app-spinner [isLoading]="isLoadingAlbums || isLoadingPlaylists"></app-spinner>

<div class="col">
        
    <div class="single-scroller mb-3 py-2" *ngIf="!isLoadingAlbums">
        <app-activity *ngFor="let activity of activities"
        [activity]="activity"
        (onSelectActivity)="onActivitySelected(activity)">
        </app-activity>
    </div>
 
    <h2 *ngIf="!isLoadingAlbums" class="mb-2">Top albums</h2>
        
    <div class="scroller my-3 py-2" *ngIf="!isLoadingAlbums">
        <app-album *ngFor="let album of topAlbums" 
        [album]="album" 
        [imgSrc]="album.attributes.artwork.url | albumArt : 600"
        (onSelectAlbum)="onAlbumSelected($event)">
        </app-album>
    </div>
    
    <h2 *ngIf="!isLoadingPlaylists && topPlaylists" class="mb-2">Top playlists</h2>
    
    <div class="scroller my-3 py-2" *ngIf="!isLoadingPlaylists">
        <app-playlist *ngFor="let playlist of topPlaylists"
        [playlist]="playlist"
        [imgSrc]="playlist.attributes.artwork.url | albumArt : 600"
        (onSelectPlaylist)="onPlaylistSelected($event)">
        </app-playlist>
    </div>

</div>
