@import '../../../styles.scss';

.new-spinner {
  z-index: 2000;
  width: 5rem;
  height: 5rem;
  background-color: rgba($color: white, $alpha: 0.8);
  position: fixed;
  top: 50%;
  left: 40%;
}

.spinner-border {
  color: rgba($color: $body-color-light, $alpha: 0.8);
}
