@import "../../../styles.scss";

.scroller {
  @include scroller;
}

.albumArt {
  min-width: 10rem;
  max-width: 40rem;
}

.card {
  max-height: 25rem;
  max-width: 40rem;
}

.artwork {
  width: 100%;
  max-width: 40rem;
  background: url(../../../assets/img/loader.svg) center no-repeat;
}