/* You can add global styles to this file, and also import other style files */

// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

// Global settings
$font-family-base: 'Nunito', sans-serif;
$body-bg: #F7F8FA;
$body-color: #2A3A4A;

@import "../node_modules/bootstrap/scss/bootstrap.scss";