/* You can add global styles to this file, and also import other style files */

// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

// Global settings
$font-family-base: 'Nunito', sans-serif;
// $body-bg: #F7F8FA;
$body-bg: #ffffff;
$body-color: #2A3A4A;
$active-color: #0793b7;

// mixins
@mixin font-small {
  font-size: 0.75rem;
  font-weight: 300;
}

@mixin font-light {
  font-weight: 300;
}

@mixin scroller {
  height: 44rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-x: scroll;
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";

// nav pills colour overwrite
ul.nav-pills li.nav-item {
  list-style-type: none;
  a { padding: 0; }
  a.active { background-color: white; }
  a.active .btn {color: $cyan}
} 