<div [class.now-playing]="isNowPlaying"  class="track d-flex flex-row align-items-stretch p-2 my-2 shadow-sm bg-white border-0">

  
  <div class="track-info d-flex align-items-start flex-fill" (click)="onClick(track)">

      <!-- if album -->
      <div *ngIf="selectedAlbum" class="track-number mr-2" >{{track.attributes.trackNumber}}. </div>
      <div *ngIf="selectedAlbum" class="track-info mr-2">
        <span class="track-name mr-2">{{track.attributes.name}}</span><br>
        <span *ngIf="track.attributes.artistName != selectedAlbum.attributes.artistName" class="artist-name mr-2">{{track.attributes.artistName}}</span>
      </div>


      <!-- if playlist or search result, display artwork -->
      <div *ngIf="selectedPlaylist || searchResult" class="">
        <img class="track-artwork mr-2 rounded shadow-sm" src="{{track.attributes.artwork.url | albumArt: 50}}" alt="">
      </div>
      <div *ngIf="selectedPlaylist || searchResult" class="track-info mr-2 flex-grow-0">
          <span class="track-name mr-2">{{track.attributes.name}}</span><br>
          <span class="artist-name mr-2">{{track.attributes.artistName}}</span>
      </div>

  </div>
  
  <div class="ml-auto">

      <div class="btn-group" dropdown placement="bottom right">
          <button id="button-alignment" dropdownToggle type="button"
                  class="btn btn-sm p-0" aria-controls="dropdown-alignment">
                  <i-feather name="more-vertical"></i-feather>       
          </button>
          <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right shadow-sm"
              role="menu" aria-labelledby="button-alignment">
            <li role="menuitem">
                <button *ngIf="track.type === 'songs'" 
                (click)="addToLibrary(track)" 
                class="add-button btn btn-sm mx-1 mt-1">
                <i-feather *ngIf="!isLibraryLoading" name="plus"></i-feather>
                <div *ngIf="isLibraryLoading" class="spinner-border spinner-border-sm mx-1 mt-1" role="status" aria-hidden="true"></div>
                <span class="ml-1">add to library</span></button>
            </li>
            <li role="menuitem">
                <button class="add-button btn btn-sm m-1" (click)="addToPlaylist(track)">
                  <i-feather name="list" class="mr-1"></i-feather>add to playlist</button>
            </li>
          </ul>
        </div>
      
  </div>
  <!-- <span *ngIf="!isNowPlaying" class="ml-auto mr-2">{{track.attributes.durationInMillis / 1000 | formattedTime}}</span>
  <span *ngIf="isNowPlaying" class="ml-auto mr-2">{{timeRemaining | formattedTime}}</span> -->
</div>
